<div [@routerTransition]>
    <app-page-header [heading]="'Active Options'" [icon]="'fa-table'"></app-page-header>
    <div class="form-group">
        <label>Choose Your Options</label>
        <select class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="row">
        
        <div class="col col-xl-12 col-lg-12">
            
            <div class="card mb-3">
                <div class="card-header">Active Options (Here is the list of all your active options.)</div>
                <table class="card-body table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Header 1</th>
                        <th>Header 2</th>
                        <th>Header 3</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>RH1</td>
                        <td>RH2</td>
                        <td>RH3</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>RH2</td>
                        <td>RH3</td>
                        <td>RH4</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>RH2</td>
                        <td>RH3</td>
                        <td>RH4</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
</div>
