<div [@routerTransition]>
    <app-page-header [heading]="'Channel as Receiver'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-sm-6" *ngFor="let temp of receiverChannel;let i = index" >
            <div class="card mb-3">
                <div class="card-header" >
                    <b>Status : </b>
                    <span *ngIf='temp["5"]==0'>Initiated</span>
                    <span *ngIf='temp["5"]==1'>Recharged</span>
                    <span *ngIf='temp["5"]==2'>Withdrawn</span>
                    <span *ngIf='temp["5"]==3'>InChallenge</span>
                    <span *ngIf='temp["5"]==4'>Settled</span>
                </div>
                <div class="card-body">
                    <div style="font-size: 15px;"><b>Channel Address:</b>{{temp.address}}</div>
                    <div style="font-size: 15px;"><b>Token Address : </b>{{temp["2"]}}</div>
                    <div style="font-size: 15px;"><b>Created At : </b>{{temp['4'] * 1000 | date:'medium'}}</div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-info btn-sm" [routerLink]="['/channelDetail/'+i+'/receiver']">Click here for more details</button>
                </div>
            </div>
        </div>
    </div>
</div>
