<div [@routerTransition]>
    <app-page-header [heading]="'Channels As Sender'" [icon]="'fa-bar-chart-o'"></app-page-header>
    <div class="row">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    <b>Status : </b>Initiated
                </div>
                <div class="card-body">
                    <div><b>Channel Address : </b>0xF84949DFfDBc8BB91f44Db238c0857b11719D8f9</div>
                    <div><b>Token Address : </b>0x7F75E578b4c55a9f5c01eb7380149Ed5e33987C8</div>
                    <div><b>Created At : </b>Tue, 06 Mar 2018 20:14:12</div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-info btn-sm" (click)="randomize()">Click here for more details</button>
                </div>
            </div>
        </div>
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    <b>Status : </b>Settled
                </div>
                <div class="card-body">
                    <div><b>Channel Address : </b>0xF84949DFfDBc8BB91f44Db238c0857b11719D8f9</div>
                    <div><b>Token Address : </b>0x7F75E578b4c55a9f5c01eb7380149Ed5e33987C8</div>
                    <div><b>Created At : </b>Tue, 06 Mar 2018 20:14:12</div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-info btn-sm" (click)="randomize()">Click here for more details</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    <b>Status : </b>Initiated
                </div>
                <div class="card-body">
                    <div><b>Channel Address : </b>0xF84949DFfDBc8BB91f44Db238c0857b11719D8f9</div>
                    <div><b>Token Address : </b>0x7F75E578b4c55a9f5c01eb7380149Ed5e33987C8</div>
                    <div><b>Created At : </b>Tue, 06 Mar 2018 20:14:12</div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-info btn-sm" (click)="randomize()">Click here for more details</button>
                </div>
            </div>
        </div>
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    <b>Status : </b>Initiated
                </div>
                <div class="card-body">
                    <div><b>Channel Address : </b>0xF84949DFfDBc8BB91f44Db238c0857b11719D8f9</div>
                    <div><b>Token Address : </b>0x7F75E578b4c55a9f5c01eb7380149Ed5e33987C8</div>
                    <div><b>Created At : </b>Tue, 06 Mar 2018 20:14:12</div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-info btn-sm" (click)="randomize()">Click here for more details</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    <b>Status : </b>Settled
                </div>
                <div class="card-body">
                    <div><b>Channel Address : </b>0xF84949DFfDBc8BB91f44Db238c0857b11719D8f9</div>
                    <div><b>Token Address : </b>0x7F75E578b4c55a9f5c01eb7380149Ed5e33987C8</div>
                    <div><b>Created At : </b>Tue, 06 Mar 2018 20:14:12</div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-info btn-sm" (click)="randomize()">Click here for more details</button>
                </div>
            </div>
        </div>
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    <b>Status : </b>InChallenge
                </div>
                <div class="card-body">
                    <div><b>Channel Address : </b>0xF84949DFfDBc8BB91f44Db238c0857b11719D8f9</div>
                    <div><b>Token Address : </b>0x7F75E578b4c55a9f5c01eb7380149Ed5e33987C8</div>
                    <div><b>Created At : </b>Tue, 06 Mar 2018 20:14:12</div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-info btn-sm" (click)="randomize()">Click here for more details</button>
                </div>
            </div>
        </div>
    </div>
</div>